div(data-hyper=".reports.0 as report", data-hyper-redirect="/redirected/:report")
div(data-hyper=".reports, .hf")
  div(data-ng-repeat="report in reports")
    h1(data-hyper-bind="report.title")
    form(data-hyper-form="report.search", data-hyper-action="/search/:query")
      input(data-ng-repeat="input in inputs", data-hyper-input="input")
      input(type="submit", value="submit")
    a(data-hyper-link="/") Testing
    a(data-hyper-link="/12345") Other
