doctype html
html
  head
    title ng-hyper -Client tools for angular.js
    link(rel='stylesheet', href='public/stylesheets/style.css')
    link(rel='stylesheet', href='public/stylesheets/codemirror.css')
    // link(rel='stylesheet', href='public/icons/css/slate.css')
    // link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Italiana&subset=latin')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Expletus+Sans:400,500')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
  body
    section#top
      #menu
        a#toggle(href='#'): i.icon-menu
        ul
          li: a(href='#introduction') Introduction

      #heading
        #logo ng-hyper
        #tagline Client tools for angular.js

    section
      .content
        h1#introduction Introduction
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.

    section
      .content
        include ../public/index.md
        br

        textarea#example-html.mirror(rows=7)
          | <div>
          |   <ul data-hyper=".users">
          |     <li data-ng-repeat="user in users" data-hyper-bind="user.name"></li>
          |   </ul>
          | </div>

        textarea#example-json.mirror(rows=7)
          | {
          |   "href": "/",
          |   "users": {
          |     "href": "/users"
          |   }
          | }
          | ...
          | {
          |   "href": "/users",
          |   "collection": [
          |     {"name": "Cameron"},
          |     {"name": "Tim"},
          |     {"name": "Mike"}
          |   ]
          | }

        script#example-output.target(type="text/x-minstache", data-codedoc='{"json": "example-json", "html": "example-html"}').
          <div data-ng-app="app">{{!html}}</div>
          <script type="application/json" id="json">{{!json}}</{{closeScript}}>
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></{{closeScript}}>
          <script src="http://code.angularjs.org/1.2.12/angular-mocks.js"></{{closeScript}}>
          <script src="http://hypergroup.github.io/ng-hyper/code/ng-hyper-0.1.0.js"></{{closeScript}}>
          <script>

            angular.module('app', ['ng-hyper', 'ngMockE2E'])
              .config(function($provide) {
                $provide.value('hyperHttpRoot', '/');
              })
              .run(function($injector){
                var apis =  document.getElementById('json').text.split('...').map(function(api){
                  try {
                    return JSON.parse(api);
                  } catch(e) {console.error(e)}
                });
                var $http = $injector.get('$httpBackend');
                apis.forEach(function(api){
                  console.log('API', api);
                  $http.when('GET', api.href).respond(api);
                });
              });

          </{{closeScript}}>

    script(src="build/build.js")
    script.
      var codedoc = require('codedoc');
      var mirror = require('CodeMirror');

      initialize('example-html', 'html');
      initialize('example-json', 'json');

      function initialize(id, mode){
        var opts = {
          'lineNumbers': true,
          'mode': mode
        };

        var input = document.getElementById(id);
        var instance = mirror.fromTextArea(input, opts);
        var textarea = instance.getTextArea();

        instance.on('keyup', function(){
          var event = new Event('keyup');
          textarea.value = instance.getValue();
          textarea.dispatchEvent(event);
        });
      }

      codedoc(document.getElementById('example-output'));